<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="form-container">
        <h2>Login</h2>
        <form action="dashboard.html" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <a href="dashboard">
                <button type="button">Login</button>
            </a>
        </form>
        <p>Don't have an account? <a href="register">Register</a></p>
    </div>
</div>
</body>
</html>
